.banner-logo{
  max-width: 10%;
}

.banner-logo-nfl{
  max-width: 8%;
}

.box-text-banner{
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  /* Slider */

  .slider .slides{
    height: 200px !important;
  }

  .slider{
    margin-bottom: -150px;
  }

  .banner-logo{
    height: auto !important;
    width: 250px !important;
  }
}

